.gallery {
	padding-top: 115px;
	padding-bottom: 50px;

	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 20px;
	}
	&__item {
		position: relative;
		padding: 0px 0px 80% 0px;
		overflow: hidden;
	}
	&__pic {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.hover-effect {
	& .gallery__item {
		cursor: pointer;
		filter: grayscale(1);

		&:hover {
			filter: grayscale(0);
			transition: filter 0.5s ease 0s;
		}
	}
}

// .hidden {
// 	display: none;
// }
// .overlay {
// 	display: grid;
// 	justify-items: center;
// 	align-items: center;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// 	padding: 0 15px;
// 	background-color: rgba(0, 0, 0, 0.5);
// }
// .modal-gallery {
// 	display: grid;
// 	grid-template-columns: 2fr minmax(270px, 1fr);
// 	position: relative;
// 	max-width: 960px;
// 	overflow: hidden;
// 	background-color: #fff;
// 	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
// }
// .modal-gallery__pic-wrapper {
// 	position: relative;
// 	padding: 0px 0px 67% 0px;
// 	overflow: hidden;
// }
// .modal-gallery__pic {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	object-fit: cover;
// }
// .modal-gallery__info {
// 	display: grid;
// 	grid-template-rows: 1fr auto;
// 	padding: 45px;
// }
// .modal-gallery__close {
// 	position: absolute;
// 	top: 13px;
// 	right: 20px;
// 	height: 15px;
// 	cursor: pointer;
// }
// .modal-gallery__text {
// 	display: grid;
// 	grid-auto-flow: row;
// 	grid-template-rows: auto 1fr;
// 	position: relative;
// 	max-width: 245px;
// }
// .modal-gallery__title {
// 	font-size: 1.3333rem;
// 	line-height: 1.16;
// 	text-transform: uppercase;
// }
// .modal-gallery__decor {
// 	display: grid;
// 	align-items: center;
// 	grid-template-columns: 1fr 4fr auto;
// 	position: absolute;
// 	top: 45px;
// 	left: -145px;
// }
// .modal-gallery__icon-decor {
// 	color: #ffad00;
// 	height: 9px;
// 	&:last-child {
// 		margin-left: 5px;
// 	}
// }
// .modal-gallery__descr {
// 	margin-top: 70px;
// 	line-height: 1.23;
// 	max-height: 350px;
// 	overflow: hidden;
// }
// .modal-gallery__toggle-btns {
// 	display: grid;
// 	justify-content: end;
// 	justify-items: end;
// 	grid-template-columns: repeat(2, minmax(65px, auto));
// 	margin-top: 40px;
// }
// .modal-gallery__toggle-btn {
// 	height: 24px;
// 	cursor: pointer;
// }
// .modal-gallery__toggle-img_prev {
// 	transform: rotate(180deg);
// }