ul {
	width: 960px;
	display: flex;
	column-gap: 20px;
}

li {
	overflow: hidden;
	height: 200px;
}

.gallery li {
	cursor: pointer;
	filter: grayscale(1);
}

.gallery li:hover {
	filter: grayscale(0);
	transition: filter 0.5s ease 0s;

}